Capstone project

In [1]:
import pandas as pd
import numpy as np
import requests
import lxml
from bs4 import BeautifulSoup

In [2]:
df = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',
    na_values=['Not assigned'],
    keep_default_na=False
)[0]


df2 = df.dropna(subset=["Borough"], axis=0)
header = ['PostalCode', 'Borough', 'Neighbourhood']
df2.columns = header
df2

df3 = df2.groupby(['PostalCode'], as_index=False).agg('sum')

df3

,PostalCode,Borough,Neighbourhood
0,M1B,ScarboroughScarborough,RougeMalvern
1,M1C,ScarboroughScarboroughScarborough,Highland CreekRouge HillPort Union
2,M1E,ScarboroughScarboroughScarborough,GuildwoodMorningsideWest Hill
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,EtobicokeEtobicokeEtobicokeEtobicoke,Kingsview VillageMartin Grove GardensRichview ...
101,M9V,EtobicokeEtobicokeEtobicokeEtobicokeEtobicokeE...,Albion GardensBeaumond HeightsHumbergateJamest...
102,M9W,Etobicoke,Northwest

In [3]:
df2.shape

(210, 3)